
/* ==========================================
MAIN PARTS
========================================== */


html, body {
    min-height: 100vh;
}

html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


@view-transition {
  

    navigation: auto;
}


.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body, p {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    line-height: 1.6;
    margin: 0;
    font-size: 1rem;
}


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #afafaf, #afc8d2);
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    .main_container {
        background-image: linear-gradient(to bottom, #ffffff, #f4f4f4);
        display: flex;
        flex-wrap: wrap; /* This is the key property */
/* Remove or set height to auto: */
height: auto;
/* No fixed height or max-height */
flex-direction: column;
width: 1280px;
padding-bottom: 64px;
}



.full-width-image {
    width: 100%;
    height: auto;}


/* ==========================================
SCALING
========================================== */


/* Base (default) styles */
body {
  transform: scale(1);
  transform-origin: top center;
}

/* Apply downscaling on phones and small devices */
@media (max-width: 720px) {
  body {
    transform: scale(0.75);
    transform-origin: top center;
  }
}



/* ==========================================
GENERAL LAYOUT
========================================== */

.flex_column{
    box-sizing: border-box;
    display: flex;
    margin: auto;
    flex-direction: column; 
    gap:32px
}

.flex_row{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.flex_row_wrap{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    gap: 6px; /* Añade un espacio de 10 píxeles entre los elementos */
    margin: 0;
}

.padding_vertical{
    padding: 24px 0;

}



/* ==========================================
STYLING
========================================== */

.shadowed{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.rounded_4{
    border-radius: 4px;
}

.rounded_8{
    border-radius:  8px;
}

.rounded_16{
    border-radius:  16px;
}



/* ==========================================
TEXT STYLING
========================================== */

p, li, div{color: #424242;
}


.subsection-title {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}


.section-text strong {
    font-weight: 600;
}


.notes {
    font-size: 14px;
    font-style: italic;
    color: #424242;
    margin: 0;
}

a{text-decoration: none;}


/* ==========================================
COVER PAGE (Portada)
========================================== */


#cover-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.cover-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding:0;
    align-items: center;
    max-width: 1920px;
    border-radius:24px 24px 64px 64px
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:24px 24px 64px 64px
}



.name {

    display: flex;
    justify-content:center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    width:100%;
    color: white;
    background-image: linear-gradient(to bottom, #1A1919, #424242);
    margin: auto;
    padding:16px  32px ;
    font-size: 3.45rem;
    box-sizing: border-box;
    border-radius:24px 24px 0 0;
}

.job {



    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 2.5rem;
    color: #00688E;
    gap:32px;
    padding:16px 16px 16px 32px ;
    background-image: linear-gradient(to bottom, #ffffff, #d2d2d2);
    box-sizing: border-box;
    border-radius:0 0 64px 64px;
}


.arrow-container {


    display:  flex;
    cursor: pointer;
    padding: 10px;
    background-image: linear-gradient(to top, #044056, #00688E);
    line-height: 1;
    border-radius:61px;
    border: 1px solid #00688E;
    transition: all 0.5s ease-in-out;
}

.arrow-container:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.25);
    transform: scale(1.075);

}


.icon_next {

    background-image: linear-gradient(to bottom, #044056, #00688E);
    width: 64px;
    height: 64px;
    padding:16px;
    border-radius:64px;
    border: 2px solid #00688E;
}


.icon_frame {

    width: 64px;
    height: 64px;
}



.wrapper{
    display:  flex;
    cursor: pointer;
    padding: 10px;
    background-image: linear-gradient(to top, #044056, #00688E);
    border-radius:61px;
    border: 1px solid #00688E; 
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.5);
    transition: all 0.5s ease-in;
}


.wrapper:hover{
    background-image: linear-gradient(to top, #044056,  #027CA9);
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.25);
    border: 1px solid #05BD83;
}


.container{

    background-image: linear-gradient(to bottom, #044056, #00688E);
    width: 64px;
    height: 64px;
    padding: 8px;
    border-radius: 42px;
    border: 2px solid #00688E;
    transition: all 0.5s ease-in;
}


.wrapper:hover .container{

    background-image: linear-gradient(to bottom, #044056, #027CA9);
    border: 2px solid #05BD83;

}


.main_icon{

    background-image: url("images/arrow_icon_inside.svg");

    background-repeat: no-repeat, repeat;

}

/* ==========================================
WELCOME
========================================== */

main_index_container {
    display: flex;
    flex-wrap: wrap; /* This is the key property */
/* Remove or set height to auto: */
height: auto;
/* No fixed height or max-height */
flex-direction: column;
width: 1280px;
margin :32px 0;
gap:48px;
}




.about_box{
    width:100%;
    padding:8px;
    font-size: 1rem;
    border: 1px solid white;
    background-image: linear-gradient(to bottom, white, #E5e5e5);
    justify-content: center;
    gap: 32px;
    align-items: center;border-radius:16px;
}

.about_text_area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width:75%;
    margin:0;

    gap:8px;
}

.about_title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin:0;

}


.about_text p{
    font-size: 0.75rem;
    margin:4px 0;
}





.about_image_wrapper {
    display: flex;

    border-radius: 120px;
    padding: 6px;
    background-image: linear-gradient(to top, #044056, #00688E);
    border: 1px solid #068EB2; 
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.5);
}


.about_image {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100px;
    object-position: center;

    padding: 6px;
    background-image: linear-gradient(to bottom, #044056, #00688E);
    border: 1px solid #068EB2; 
}








.project_box{
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
    transition: all 0.3s ease-in-out;
    border: 6px solid #d9d9d9;

    box-sizing: border-box;
}

.project_box .title-overlay {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.95) 42.788%, rgba(255, 255, 255, 0.25) 65.865%);
    z-index: 1;
}


.project_box .title-overlay_cnc {
    position: relative;
    width: 100%;
    background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0.95) 42.788%, rgba(255, 255, 255, 0.25) 65.865%);
    z-index: 1;
}

.project_box .title-content {
    padding: 6px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.project_main_title{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #00688E;
    line-height: 1.2;
    margin: 0;
}

.project_subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.project_main_title_cnc{

    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #00688E;
    line-height: 1.2;
    margin: 0;
    text-align:right;
}


.project_subtitle_cnc {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    text-align:right;
}

.device_floating{

    position: absolute;
    right: 0;
    top:0;
    width: auto;
    height: 70%;
    padding-right: 16px;

    padding-top: 24px;
    object-fit: cover;
    object-position: center;
} 

.device_floating_cnc{

    position: absolute;
    left: 0;
    top:0;
    width: auto;
    height: 70%;

    padding-top: 24px;
    object-fit: cover;
    object-position: center;
} 



.project_box:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.25);
    transform: scale(1.025);
    border: 6px solid #00688E;
    filter: saturate(125%);
    filter: contrast(1110%);
    filter: brightness(110%);
}






/* ==========================================
BACK BUTON
========================================== */


.back-button {
    position: fixed;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    padding: 10px 20px ;
    border: 1px solid #00688E;
    font-size: 16px;
    font-weight: 600;
    border-radius:8px;

    gap:16px;
    border: 4px solid #00688E;
    z-index: 1000;
    transition: all 0.3s ease;

    color: white;
    background-image: linear-gradient(to top, #044056, #00688E);;
}





.back-button:hover {

    box-shadow: 0 4px 8px rgba(0, 0, 0,0.155);
    color: #E5FFF4;
    transition: all 0.3s ease;
    border: 4px solid #068EB2;
}


.back-icon {
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
    flex-shrink: 0;@
}





/* ==========================================
HERO SECTIONS
========================================== */

.hero-section {
    position: relative;
    width: 100%;
    min-height: 480px;
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
}

@media (max-width: 1280px) {
    .hero-section {
        min-height: 320px; /* Change this to whatever margin value you need */
    }
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.device_overlay{

    position: absolute;
    right: 0;
    top: 32px;
    width: auto;
    height: 70%;
    padding-right: 24px;
    object-fit: cover;
    object-position: center;
} 



.device_overlay_cnc{

    position: absolute;
    left: 0;
    top: 32px;
    width: auto;
    height: 70%;
    padding-left: 0px;
    object-fit: cover;
    object-position: center;
} 

.title-overlay {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.75) 42.788%, rgba(255, 255, 255, 0.25) 65.865%);
    z-index: 1;
}

.title-content {
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.main-title {
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #00688E;
    line-height: 1.2;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}



/* ==========================================
SECTION STYLE
========================================== */

.section {
    margin: 64px 120px 0px 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


@media (max-width: 1280px) {
    .section {
        margin: 64px 30px 0px 30px; /* Change this to whatever margin value you need */
    }
}

.section-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.section-title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #00688E;
    margin: 0;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    color: #424242;
}





/* ==========================================
INTRO SECTION
========================================== */

.project_card {


    background-image: linear-gradient(to left, #ffffff, #dddddd);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:16px;
    gap: 8px;
    font-size: 1rem;



}


.project_card table{
    vertical-align: center;
    display:block;
    line-height: 28px;
    margin: auto 8px;




}


.project_card td{



    padding: 0 0 0 24px;

    vertical-align: top;

}

.project_card_image {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}


/* ==========================================
DEFINE SECTION
========================================== */

.persona_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:16px;
    gap: 8px;
    font-size: 1rem;
    border: 1px solid white;

}


.persona_card table{
    vertical-align: center;
    display:block;
    line-height: 28px;
    margin: auto 8px;

}



.persona_name{
    padding-left:24px;
    margin-bottom:16px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

}


.persona_card td{
    padding: 0 0 0 24px;
    vertical-align: top;

}

.persona_card_image {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}


.persona_emb_a{
    background-image: linear-gradient(to right, #E7D4a1, #FEE9e2);
}

.persona_emb_a .persona_card_image{
    border: 4px solid #8D2526;
}
.persona_emb_a .persona_name{
    color: #8D2526;
}



.persona_emb_b{
    background-image: linear-gradient(to left, #DCC7F9, #AAE7FE);
}

.persona_emb_b .persona_card_image{
    border: 4px solid #3E1B82;
}
.persona_emb_b .persona_name{
    color: #3E1B82;
}



.persona_cnc_a{
    background-image: linear-gradient(to right, #DFFEFF, #E8FFE9);
}

.persona_cnc_a .persona_card_image{
    border: 4px solid #18655C;
}
.persona_cnc_a .persona_name{
    color: #18655C;
}



.persona_cnc_b{
    background-image: linear-gradient(to right, #FFE6C4, #FFE2D0);
}

.persona_cnc_b .persona_card_image{
    border: 4px solid #5D3F24;
}
.persona_cnc_b .persona_name{
    color: #5D3F24;
}



.persona_qul_a{
    background-image: linear-gradient(to right, #E4CFE2, #F8D8FF);
}

.persona_qul_a .persona_card_image{
    border: 4px solid #3A195E;
}
.persona_qul_a .persona_name{
    color: #3A195E;
}



.persona_qul_b{
    background-image: linear-gradient(to right, #F9E1A0, #FFFAD0);
}

.persona_qul_b .persona_card_image{
    border: 4px solid #714E02;
}
.persona_qul_b .persona_name{
    color: #714E02;
}



.problem{
    text-align: center;
    border-top:3px solid #00688E; 
    border-bottom:3px solid #00688E; 
    max-width:820px; 
    gap:24px;
    display: flex;
    flex-direction: column;
    padding:32px;
    margin: 32px auto;
}



.goals{
    text-align: center;
    max-width:820px; 
    gap:24px;
    display: flex;
    flex-direction: column;
    padding:16px;
    margin:auto;
}


.goal_item{

    display: flex;
    vertical-align: center;
    align-items: center;
    padding:16px 32px;
    gap:24px;
    border: 3px solid #ffffff;
    background-image: linear-gradient(to bottom, white, #E5e5e5);
}

.goal_icon{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}


/* ==========================================
IDEATION SECTION
========================================== */


.crazy_8_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:8px;
    margin-bottom: 32px ;
}

.crazy_8_image{
    width: 250px;
    border-radius: 8px;
}

.wireframe_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:32px;
    margin-bottom: 32px ;
}

.wireframe_image{
    width: 320px;
    border: 2px solid black;
}

/* ==========================================
PROTOTYPING SECTION
========================================== */



.prototypes_section{
    background-color: white;
    padding: 32px;
    gap:8px;
    margin-top:32px;
}

.prototype_image{
    width: 300px;
}



.prototype_container{
    background-image: linear-gradient(to bottom, white, #E5e5e5);
    width: 310px;
    gap: 24px;
    padding: 16px;

}

.prototype_title{
    display:inline-block;
    text-align:center;
    color: #00688E;
    font-weight:600;
}

.prototype_button{
    background-color: #E5FFF4;
    border: 2px solid #00688E;
    color: #00688E;
    padding: 8px 16px;
    font-weight:600;



    align-items: center;
    gap:8px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    width:100%;
    transition: transform 0.3s ease;

}



.prototype_button:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.25);
    background-color: #C3FBE3;
}




.action_wrapper {
    background-image: linear-gradient(to bottom, #ffffff, #949494);"
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding:4px;
    width:160px; 
    height:128px;
    border:1px solid lightgrey;
}


.action {

    width:148px; 
    height:116px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
    gap:8px;
    background-image: linear-gradient(to bottom, #F2F2F2, #c9c9c9);
    border-radius: 8px;
}

.action_icon {
    width:48px; 
    height:48px;
    display:flex;
}

.action_text {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #424242;
    font-size: 1.15rem;
    padding:0px;
    margin:0px;
}




/* ==========================================
CONCLUSION SECTION
========================================== */

.results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:24px;

    .results_card {
        max-width: 325px;  /* Sets the width to 300 pixels */
        height: auto; /* Sets the height to 150 pixels */
        background-image: linear-gradient(to bottom, white, #E5e5e5);
        border: 3px solid #ffffff;    /* Adds a border */
        padding: 24px;             /* Adds space around the text */
        box-sizing: border-box;    /* Ensures padding/border is included in width/height [1] */
        overflow: auto; 

        gap:16px;


        display: flex;
        flex-direction: column;
    }

    .results_title {
        color: #00688E;

        font-weight: 600;
        font-size: 16px;
    }




    .results_text {
        font-size: 15px;
    }

