
/* ==========================================
   MAIN PARTS
   ========================================== */


html, body {
     min-height: 100vh;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}


  @view-transition {
    navigation: auto;
  }

body, p {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    line-height: 1.6;
    margin: 0;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #d9d9d9, #DBE7EB);
    box-sizing: border-box;
    display: flex;
    justify-content: center;

.main_container {
    background-image: linear-gradient(to bottom, #ffffff, #f4f4f4);
    display: flex;
  flex-wrap: wrap; /* This is the key property */
  /* Remove or set height to auto: */
  height: auto;
  /* No fixed height or max-height */
    flex-direction: column;
    width: 1280px;
    padding-bottom: 64px;
}



.full-width-image {
    width: 100%;
    height: auto;}

/* ==========================================
   STYLING
   ========================================== */


.shadowed{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.rounded_4{
    border-radius: 4px;
}

.rounded_8{
    border-radius:  8px;
}


/* ==========================================
   TEXTS STYLES
   ========================================== */


.subsection-title {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}


.section-text strong {
    font-weight: 600;
}


.notes {
font-size: 14px;
    font-style: italic;
    color: #00688E!important;
    margin: 0;
    font-weight: 600;
}


/* ==========================================
   COVER PAGE (Portada)
   ========================================== */


#cover-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
  width:100%;
}

.cover-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding:0;
  align-items: center;
  max-width: 1920px;
}

.header {
    background-image: linear-gradient(to bottom, white, #E5e5e5);
    border: 3px solid #ffffff;    /* Adds a border */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.name {

    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 2rem;
    color: #00688E;
    line-height: 1.2;
    margin: 0;
    padding:16px 32px;
    background-image: linear-gradient(to top, white, #E5e5e5);
    border-bottom: 2px solid black;
}


.job {
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    font-weight: 600;
    color: #424242;
    padding:16px 32px;
    margin: 0;
    font-size: 2.5rem;
}

.arrow-container {
    display:flex;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 24px;
    background-image: linear-gradient(to top, white, #E5e5e5);
    line-height: 1;
  border-radius:64px;
  border: 4px solid #00688E;
}

.arrow-container:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.25);
    transform: scale(1.15);

}


.icon_next {
  width: 64px;
  height: 64px;
}



/* ==========================================
   WELCOME
   ========================================== */

main_index_container {
    display: flex;
  flex-wrap: wrap; /* This is the key property */
  /* Remove or set height to auto: */
  height: auto;
  /* No fixed height or max-height */
    flex-direction: column;
    width: 1280px;
    padding :32px 0 32px 0;
    gap:32px;
}

.project_box{
    position: relative;
    width: 100%;
    min-height: 220px;
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
    transition: all 0.5s ease-in-out;
    border: 2px solid #d9d9d9;
}

.project_box .title-overlay {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.95) 42.788%, rgba(255, 255, 255, 0.25) 65.865%);
    z-index: 1;
}

.project_box .title-content {
    padding: 6px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.project_box .main-title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #00688E;
    line-height: 1.2;
    margin: 0;
}

.project_box .subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.device_floating{

    position: absolute;
    right: 0;
    width: auto;
    height: 90%;
    padding-right: 24px;
    object-fit: cover;
    object-position: center;
} 




.project_box:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.25);
    transform: scale(1.05);
    border: 2px solid #00688E;
  filter: saturate(125%);
  filter: contrast(1110%);
  filter: brightness(110%);
}


main_index_container a{
    
text-decoration:none;

}




/* ==========================================
   BACK BUTON
   ========================================== */


.back-button {
    position: fixed;
    top: 16px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 380px;
    border-radius: 0 8px 8px 0 ;
    text-decoration: none;
    color: #00688E;
    font-size: 16px;
    font-weight: 600;

    gap:16px;
    border: 3px solid #ffffff;
    background-image: linear-gradient(to top, #DBDBDB, #FFFFFF);
    z-index: 1000;
    transition: all 0.3s ease;
}


@media (max-width: 1490px) {
  .back-button {
    
    padding: 10px 20px 10px 160px;
  }
}


@media (max-width: 1100px) {
  .back-button {
    
    padding: 10px 20px 10px 80px;
  }
}


@media (max-width: 830px) {
  .back-button {
    
    padding: 10px 20px 10px 20px;
  }
}


.back-button:hover {
    
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.75);
    color: #000000;
    transition: all 0.3s ease;
}


.back-icon {
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.back-button:hover object{
    filter: saturate(0);
}




/* ==========================================
   GENERAL LAYOUT
   ========================================== */

.flex_column{
    box-sizing: border-box;
    display: flex;
    margin: auto;
    flex-direction: column; 
    gap:32px
}

.flex_row{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.flex_row_wrap{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

ul {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  gap: 6px; /* Añade un espacio de 10 píxeles entre los elementos */
  margin: 0;
}

.padding_vertical{
    padding: 24px 0;

}



/* ==========================================
   STYLING
   ========================================== */

.shadowed{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.rounded_4{
    border-radius: 4px;
}

.rounded_8{
    border-radius:  8px;
}



/* ==========================================
   TEXT STYLING
   ========================================== */

.subsection-title {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}


.section-text strong {
    font-weight: 600;
}


.notes {
font-size: 14px;
    font-style: italic;
    color: #424242;
    margin: 0;
}


/* ==========================================
   HERO SECTIONS
   ========================================== */

.hero-section {
    position: relative;
    width: 100%;
    min-height: 480px;
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
}

@media (max-width: 1280px) {
  .hero-section {
    min-height: 320px; /* Change this to whatever margin value you need */
  }
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title-overlay {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.75) 42.788%, rgba(255, 255, 255, 0.25) 65.865%);
    z-index: 1;
}

.title-content {
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.main-title {
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #00688E;
    line-height: 1.2;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}



/* ==========================================
   SECTION STYLE
   ========================================== */

.section {
    margin: 64px 120px 0px 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


@media (max-width: 1280px) {
  .section {
    margin: 20px; /* Change this to whatever margin value you need */
  }
}

.section-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.section-title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #00688E;
    margin: 0;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    color: #424242;
}





/* ==========================================
   INTRO SECTION
   ========================================== */

.project_card {


    background-image: linear-gradient(to left, #ffffff, #dddddd);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:16px;
    gap: 8px;
    font-size: 1rem;



}


.project_card table{
    vertical-align: center;
    display:block;
    line-height: 28px;
    margin: auto 8px;


    

}


.project_card td{


    
    padding: 0 0 0 24px;

    vertical-align: top;

}

.project_card_image {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}


/* ==========================================
   DEFINE SECTION
   ========================================== */

.persona_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:16px;
    gap: 8px;
    font-size: 1rem;
    border: 1px solid white;

}


.persona_card table{
    vertical-align: center;
    display:block;
    line-height: 28px;
    margin: auto 8px;

}



.persona_name{
    padding-left:24px;
    margin-bottom:16px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

}


.persona_card td{
padding: 0 0 0 24px;
vertical-align: top;

}

.persona_card_image {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}


.persona_a{
background-image: linear-gradient(to right, #E7D4a1, #FEE9e2);
}

.persona_a .persona_card_image{
border: 4px solid #8D2526;
}
.persona_a .persona_name{
color: #8D2526;
}



.persona_b{
background-image: linear-gradient(to left, #DCC7F9, #AAE7FE);
}

.persona_b .persona_card_image{
border: 4px solid #3E1B82;
}
.persona_b .persona_name{
color: #3E1B82;
}


.problem{
    text-align: center;
    border-top:3px solid #00688E; 
    border-bottom:3px solid #00688E; 
    max-width:820px; 
    gap:24px;
    display: flex;
    flex-direction: column;
    padding:32px;
    margin: 32px auto;
}



.goals{
    text-align: center;
    max-width:820px; 
    gap:24px;
    display: flex;
    flex-direction: column;
    padding:16px;
    margin:auto;
}


.goal_item{

    display: flex;
    vertical-align: center;
    align-items: center;
    padding:16px 32px;
    gap:24px;
    border: 3px solid #ffffff;
    background-image: linear-gradient(to bottom, white, #E5e5e5);
}

.goal_icon{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}


/* ==========================================
   IDEATION SECTION
   ========================================== */


.crazy_8_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:8px;
    margin-bottom: 32px ;
}

.crazy_8_image{
    width: 250px;
    border-radius: 8px;
}

.wireframe_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:32px;
    margin-bottom: 32px ;
}

.wireframe_image{
    width: 320px;
    border: 2px solid black;
}



/* ==========================================
   CONCLUSION SECTION
   ========================================== */

.results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:24px;

.results_card {
    max-width: 325px;  /* Sets the width to 300 pixels */
    height: auto; /* Sets the height to 150 pixels */
    background-image: linear-gradient(to bottom, white, #E5e5e5);
    border: 3px solid #ffffff;    /* Adds a border */
    padding: 24px;             /* Adds space around the text */
    box-sizing: border-box;    /* Ensures padding/border is included in width/height [1] */
    overflow: auto; 

    gap:16px;


    display: flex;
    flex-direction: column;
}

.results_title {
    color: #00688E;

    font-weight: 600;
    font-size: 16px;
}




.results_text {
    font-size: 15px;
    }

